@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(225deg, #efbad3, #a254f2);
}

h1 {
    font-size: 26px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500,600;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
}

main section {
    background-color: rgba(222, 222, 222, .3);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 6px 9px 25px -13px rgba(0,0,0,0.45);
}

#colors ul {
    padding: 0;
    text-align: center;
}

#colors li {
    list-style: none;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    line-height: 30px;
    cursor: pointer;
}

#fonts div {
    width: 49%;
    display: inline-block;
}

#fonts h3 {
    text-decoration: underline;
    font-weight: normal;
}

#fonts ul {
    padding: 0;
}

#fonts li {
    list-style: none;
}

#fonts .bold {
    font-weight: bold;
}

#fonts .italic {
    font-style: italic;
}

#fonts #scp-font {
    font-family: "Source Code Pro";
}

#fonts #pop-font {
    font-family: poppins;
}

#fonts #nus-font {
    font-family: "Nunito Sans";
}