* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

h1, h2, h3, h4, h5, p {
    line-height: 50px;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header #logo {
    height: 50px;
    margin-left: 10px;
}

header #logo img {
    height: 50px;
}

header nav {
    margin-right: 10px;
}

header nav a+a {
    margin-left: 10px;
}

main {
    position: relative;
    top: 70px;
    z-index: 0;
}

main section {
    margin-top: 100px;
}

main #mission {
    height: 700px;
    width: 1200px;
    background: url("../images/img-mission-background.jpg") no-repeat center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

main #mission #mission-summary {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #feature #feature-pic {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    height: 520px;
    margin: 20px auto;
}

main #feature #feature-pic figure+figure {
    margin-left: 30px;
}

main #feature #feature-pic img {
    width: 300px;
    height: 200px;
}

main #feature #feature-pic figcaption {
    margin-top: 10px;
}

main #feature #feature-pic figcaption h4 {
    line-height: inherit;
}

main #location {
    height: 500px;
    width: 1200px;
    background: url(../images/img-locations-background.jpg) no-repeat center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #location #loca-box {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

main #location #loca-box div {
    background-color: black;
    width: 300px;
    padding: 10px;
}

main #location #loca-box div+div {
    margin-left: 40px;
}

main #contact {
    height: 200px;
    margin-bottom: 100px;
}

footer {
    height: 50px;
    margin-left: 20px;
    text-align: left;
}